# Introduction to the DataFrame API

In this section, we will introduce the [DataFrame and Dataset APIs](https://spark.apache.org/docs/latest/sql-programming-guide.html).

We will use a small subset from the [Record Linkage Comparison Data Set](https://archive.ics.uci.edu/ml/datasets/record+linkage+comparison+patterns), borrowed from UC Irvine Machine Learning Repository. It consists of several CSV files with match scores for patients in a Germany hospital, but we will use only one of them for the sake of simplicity. Please consult {cite:p}`schmidtmann2009evaluation` and {cite:p}`sariyar2011controlling` for more details regarding the data sets and research.

## Setup
- Setup a `SparkSession` to work with the Dataset and DataFrame API
- Unzip the `scores.zip` file located under `data` folder.

In [1]:
from pyspark import SparkContext, SparkConf

conf = SparkConf().setAppName("intro-to-df").setMaster("local")
sc = SparkContext(conf=conf)
# Avoid polluting the console with warning messages
sc.setLogLevel("ERROR")

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/opt/hostedtoolcache/Python/3.9.10/x64/lib/python3.9/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release

Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/03/07 17:59:27 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

### Create a SparkSession to work with the DataFrame API

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession(sc)

In [3]:
help(SparkSession)

Help on class SparkSession in module pyspark.sql.session:

class SparkSession(pyspark.sql.pandas.conversion.SparkConversionMixin)
 |  SparkSession(sparkContext, jsparkSession=None)
 |
 |  The entry point to programming Spark with the Dataset and DataFrame API.
 |
 |  A SparkSession can be used create :class:`DataFrame`, register :class:`DataFrame` as
 |  tables, execute SQL over tables, cache tables, and read parquet files.
 |  To create a :class:`SparkSession`, use the following builder pattern:
 |
 |  .. autoattribute:: builder
 |     :annotation:
 |
 |  Examples
 |  --------
 |  >>> spark = SparkSession.builder \
 |  ...     .master("local") \
 |  ...     .appName("Word Count") \
 |  ...     .config("spark.some.config.option", "some-value") \
 |  ...     .getOrCreate()
 |
 |  >>> from datetime import datetime
 |  >>> from pyspark.sql import Row
 |  >>> spark = SparkSession(sc)
 |  >>> allTypes = sc.parallelize([Row(i=1, s="string", d=1.0, l=1,
 |  ...     b=True, list=[1, 2, 3], dict={"s": 0}, row=Row(a=1),
 |  ...     time=datetime(2014, 8, 1, 14, 1, 5))])
 |  >>> df = allTypes.toDF()
 |  >>> df.createOrReplaceTempView("allTypes")
 |  >>> spark.sql('select i+1, d+1, not b, list[1], dict["s"], time, row.a '
 |  ...            'from allTypes where b and i > 0').collect()
 |  [Row((i + 1)=2, (d + 1)=2.0, (NOT b)=False, list[1]=2,         dict[s]=0, time=datetime.datetime(2014, 8, 1, 14, 1, 5), a=1)]
 |  >>> df.rdd.map(lambda x: (x.i, x.s, x.d, x.l, x.b, x.time, x.row.a, x.list)).collect()
 |  [(1, 'string', 1.0, 1, True, datetime.datetime(2014, 8, 1, 14, 1, 5), 1, [1, 2, 3])]
 |
 |  Method resolution order:
 |      SparkSession
 |      pyspark.sql.pandas.conversion.SparkConversionMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __enter__(self)
 |      Enable 'with SparkSession.builder.(...).getOrCreate() as session: app' syntax.
 |
 |      .. versionadded:: 2.0
 |
 |  __exit__(self, exc_type, exc_val, exc_tb)
 |      Enable 'with SparkSession.builder.(...).getOrCreate() as session: app' syntax.
 |
 |      Specifically stop the SparkSession on exit of the with block.
 |
 |      .. versionadded:: 2.0
 |
 |  __init__(self, sparkContext, jsparkSession=None)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  createDataFrame(self, data, schema=None, samplingRatio=None, verifySchema=True)
 |      Creates a :class:`DataFrame` from an :class:`RDD`, a list or a :class:`pandas.DataFrame`.
 |
 |      When ``schema`` is a list of column names, the type of each column
 |      will be inferred from ``data``.
 |
 |      When ``schema`` is ``None``, it will try to infer the schema (column names and types)
 |      from ``data``, which should be an RDD of either :class:`Row`,
 |      :class:`namedtuple`, or :class:`dict`.
 |
 |      When ``schema`` is :class:`pyspark.sql.types.DataType` or a datatype string, it must match
 |      the real data, or an exception will be thrown at runtime. If the given schema is not
 |      :class:`pyspark.sql.types.StructType`, it will be wrapped into a
 |      :class:`pyspark.sql.types.StructType` as its only field, and the field name will be "value".
 |      Each record will also be wrapped into a tuple, which can be converted to row later.
 |
 |      If schema inference is needed, ``samplingRatio`` is used to determined the ratio of
 |      rows used for schema inference. The first row will be used if ``samplingRatio`` is ``None``.
 |
 |      .. versionadded:: 2.0.0
 |
 |      .. versionchanged:: 2.1.0
 |         Added verifySchema.
 |
 |      Parameters
 |      ----------
 |      data : :class:`RDD` or iterable
 |          an RDD of any kind of SQL data representation (:class:`Row`,
 |          :class:`tuple`, ``int``, ``boolean``, etc.), or :class:`list`, or
 |          :class:`pandas.DataFrame`.
 |      schema : :class:`pyspark.sql.types.DataType`, str or list, optional
 |          a :class:`pyspark.sql.types.DataType` or a datatype string or a list of
 |          column names, default is None.  The data type string format equals to
 |          :class:`pyspark.sql.types.DataType.simpleString`, except that top level struct type can
 |          omit the ``struct<>`` and atomic types use ``typeName()`` as their format, e.g. use
 |          ``byte`` instead of ``tinyint`` for :class:`pyspark.sql.types.ByteType`.
 |          We can also use ``int`` as a short name for :class:`pyspark.sql.types.IntegerType`.
 |      samplingRatio : float, optional
 |          the sample ratio of rows used for inferring
 |      verifySchema : bool, optional
 |          verify data types of every row against schema. Enabled by default.
 |
 |      Returns
 |      -------
 |      :class:`DataFrame`
 |
 |      Notes
 |      -----
 |      Usage with spark.sql.execution.arrow.pyspark.enabled=True is experimental.
 |
 |      Examples
 |      --------
 |      >>> l = [('Alice', 1)]
 |      >>> spark.createDataFrame(l).collect()
 |      [Row(_1='Alice', _2=1)]
 |      >>> spark.createDataFrame(l, ['name', 'age']).collect()
 |      [Row(name='Alice', age=1)]
 |
 |      >>> d = [{'name': 'Alice', 'age': 1}]
 |      >>> spark.createDataFrame(d).collect()
 |      [Row(age=1, name='Alice')]
 |
 |      >>> rdd = sc.parallelize(l)
 |      >>> spark.createDataFrame(rdd).collect()
 |      [Row(_1='Alice', _2=1)]
 |      >>> df = spark.createDataFrame(rdd, ['name', 'age'])
 |      >>> df.collect()
 |      [Row(name='Alice', age=1)]
 |
 |      >>> from pyspark.sql import Row
 |      >>> Person = Row('name', 'age')
 |      >>> person = rdd.map(lambda r: Person(*r))
 |      >>> df2 = spark.createDataFrame(person)
 |      >>> df2.collect()
 |      [Row(name='Alice', age=1)]
 |
 |      >>> from pyspark.sql.types import *
 |      >>> schema = StructType([
 |      ...    StructField("name", StringType(), True),
 |      ...    StructField("age", IntegerType(), True)])
 |      >>> df3 = spark.createDataFrame(rdd, schema)
 |      >>> df3.collect()
 |      [Row(name='Alice', age=1)]
 |
 |      >>> spark.createDataFrame(df.toPandas()).collect()  # doctest: +SKIP
 |      [Row(name='Alice', age=1)]
 |      >>> spark.createDataFrame(pandas.DataFrame([[1, 2]])).collect()  # doctest: +SKIP
 |      [Row(0=1, 1=2)]
 |
 |      >>> spark.createDataFrame(rdd, "a: string, b: int").collect()
 |      [Row(a='Alice', b=1)]
 |      >>> rdd = rdd.map(lambda row: row[1])
 |      >>> spark.createDataFrame(rdd, "int").collect()
 |      [Row(value=1)]
 |      >>> spark.createDataFrame(rdd, "boolean").collect() # doctest: +IGNORE_EXCEPTION_DETAIL
 |      Traceback (most recent call last):
 |          ...
 |      Py4JJavaError: ...
 |
 |  newSession(self)
 |      Returns a new :class:`SparkSession` as new session, that has separate SQLConf,
 |      registered temporary views and UDFs, but shared :class:`SparkContext` and
 |      table cache.
 |
 |      .. versionadded:: 2.0
 |
 |  range(self, start, end=None, step=1, numPartitions=None)
 |      Create a :class:`DataFrame` with single :class:`pyspark.sql.types.LongType` column named
 |      ``id``, containing elements in a range from ``start`` to ``end`` (exclusive) with
 |      step value ``step``.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Parameters
 |      ----------
 |      start : int
 |          the start value
 |      end : int, optional
 |          the end value (exclusive)
 |      step : int, optional
 |          the incremental step (default: 1)
 |      numPartitions : int, optional
 |          the number of partitions of the DataFrame
 |
 |      Returns
 |      -------
 |      :class:`DataFrame`
 |
 |      Examples
 |      --------
 |      >>> spark.range(1, 7, 2).collect()
 |      [Row(id=1), Row(id=3), Row(id=5)]
 |
 |      If only one argument is specified, it will be used as the end value.
 |
 |      >>> spark.range(3).collect()
 |      [Row(id=0), Row(id=1), Row(id=2)]
 |
 |  sql(self, sqlQuery)
 |      Returns a :class:`DataFrame` representing the result of the given query.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Returns
 |      -------
 |      :class:`DataFrame`
 |
 |      Examples
 |      --------
 |      >>> df.createOrReplaceTempView("table1")
 |      >>> df2 = spark.sql("SELECT field1 AS f1, field2 as f2 from table1")
 |      >>> df2.collect()
 |      [Row(f1=1, f2='row1'), Row(f1=2, f2='row2'), Row(f1=3, f2='row3')]
 |
 |  stop(self)
 |      Stop the underlying :class:`SparkContext`.
 |
 |      .. versionadded:: 2.0
 |
 |  table(self, tableName)
 |      Returns the specified table as a :class:`DataFrame`.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Returns
 |      -------
 |      :class:`DataFrame`
 |
 |      Examples
 |      --------
 |      >>> df.createOrReplaceTempView("table1")
 |      >>> df2 = spark.table("table1")
 |      >>> sorted(df.collect()) == sorted(df2.collect())
 |      True
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  getActiveSession() from builtins.type
 |      Returns the active :class:`SparkSession` for the current thread, returned by the builder
 |
 |      .. versionadded:: 3.0.0
 |
 |      Returns
 |      -------
 |      :class:`SparkSession`
 |          Spark session if an active session exists for the current thread
 |
 |      Examples
 |      --------
 |      >>> s = SparkSession.getActiveSession()
 |      >>> l = [('Alice', 1)]
 |      >>> rdd = s.sparkContext.parallelize(l)
 |      >>> df = s.createDataFrame(rdd, ['name', 'age'])
 |      >>> df.select("age").collect()
 |      [Row(age=1)]
 |
 |  ----------------------------------------------------------------------
 |  Readonly properties defined here:
 |
 |  catalog
 |      Interface through which the user may create, drop, alter or query underlying
 |      databases, tables, functions, etc.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Returns
 |      -------
 |      :class:`Catalog`
 |
 |  conf
 |      Runtime configuration interface for Spark.
 |
 |      This is the interface through which the user can get and set all Spark and Hadoop
 |      configurations that are relevant to Spark SQL. When getting the value of a config,
 |      this defaults to the value set in the underlying :class:`SparkContext`, if any.
 |
 |      Returns
 |      -------
 |      :class:`pyspark.sql.conf.RuntimeConfig`
 |
 |      .. versionadded:: 2.0
 |
 |  read
 |      Returns a :class:`DataFrameReader` that can be used to read data
 |      in as a :class:`DataFrame`.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Returns
 |      -------
 |      :class:`DataFrameReader`
 |
 |  readStream
 |      Returns a :class:`DataStreamReader` that can be used to read data streams
 |      as a streaming :class:`DataFrame`.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Notes
 |      -----
 |      This API is evolving.
 |
 |      Returns
 |      -------
 |      :class:`DataStreamReader`
 |
 |  sparkContext
 |      Returns the underlying :class:`SparkContext`.
 |
 |      .. versionadded:: 2.0
 |
 |  streams
 |      Returns a :class:`StreamingQueryManager` that allows managing all the
 |      :class:`StreamingQuery` instances active on `this` context.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Notes
 |      -----
 |      This API is evolving.
 |
 |      Returns
 |      -------
 |      :class:`StreamingQueryManager`
 |
 |  udf
 |      Returns a :class:`UDFRegistration` for UDF registration.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Returns
 |      -------
 |      :class:`UDFRegistration`
 |
 |  version
 |      The version of Spark on which this application is running.
 |
 |      .. versionadded:: 2.0
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  Builder = <class 'pyspark.sql.session.SparkSession.Builder'>
 |      Builder for :class:`SparkSession`.
 |
 |
 |  builder = <pyspark.sql.session.SparkSession.Builder object>
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from pyspark.sql.pandas.conversion.SparkConversionMixin:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

### Unzip the scores file, if it was not done already

In [4]:
from os import path
scores_zip = path.join("data", "scores.zip")
scores_csv = path.join("data", "scores.csv")

%set_env SCORES_ZIP=$scores_zip
%set_env SCORES_CSV=$scores_csv

env: SCORES_ZIP=data/scores.zip
env: SCORES_CSV=data/scores.csv

In [5]:
%%bash
command -v unzip >/dev/null 2>&1 || { echo >&2 "unzip command is not installed. Aborting."; exit 1; }
[[ -f "$SCORES_CSV" ]] && { echo "file data/$SCORES_CSV already exist. Skipping."; exit 0; }

[[ -f "$SCORES_ZIP" ]] || { echo "file data/$SCORES_ZIP does not exist. Aborting."; exit 1; }

echo "Unzip file $SCORES_ZIP"
unzip "$SCORES_ZIP" -d data

Unzip file data/scores.zip

Archive:  data/scores.zip

  inflating: data/scores.csv

  inflating: data/__MACOSX/._scores.csv

In [6]:
! head "$SCORES_CSV"

"id_1","id_2","cmp_fname_c1","cmp_fname_c2","cmp_lname_c1","cmp_lname_c2","cmp_sex","cmp_bd","cmp_bm","cmp_by","cmp_plz","is_match"
37291,53113,0.833333333333333,?,1,?,1,1,1,1,0,TRUE
39086,47614,1,?,1,?,1,1,1,1,1,TRUE
70031,70237,1,?,1,?,1,1,1,1,1,TRUE
84795,97439,1,?,1,?,1,1,1,1,1,TRUE
36950,42116,1,?,1,1,1,1,1,1,1,TRUE
42413,48491,1,?,1,?,1,1,1,1,1,TRUE
25965,64753,1,?,1,?,1,1,1,1,1,TRUE
49451,90407,1,?,1,?,1,1,1,1,0,TRUE
39932,40902,1,?,1,?,1,1,1,1,1,TRUE

## Loading the Scores CSV file into a DataFrame

We are going to use the Reader API

In [7]:
help(spark.read)

Help on DataFrameReader in module pyspark.sql.readwriter object:

class DataFrameReader(OptionUtils)
 |  DataFrameReader(spark)
 |
 |  Interface used to load a :class:`DataFrame` from external storage systems
 |  (e.g. file systems, key-value stores, etc). Use :attr:`SparkSession.read`
 |  to access this.
 |
 |  .. versionadded:: 1.4
 |
 |  Method resolution order:
 |      DataFrameReader
 |      OptionUtils
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, spark)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  csv(self, path, schema=None, sep=None, encoding=None, quote=None, escape=None, comment=None, header=None, inferSchema=None, ignoreLeadingWhiteSpace=None, ignoreTrailingWhiteSpace=None, nullValue=None, nanValue=None, positiveInf=None, negativeInf=None, dateFormat=None, timestampFormat=None, maxColumns=None, maxCharsPerColumn=None, maxMalformedLogPerPartition=None, mode=None, columnNameOfCorruptRecord=None, multiLine=None, charToEscapeQuoteEscaping=None, samplingRatio=None, enforceSchema=None, emptyValue=None, locale=None, lineSep=None, pathGlobFilter=None, recursiveFileLookup=None, modifiedBefore=None, modifiedAfter=None, unescapedQuoteHandling=None)
 |      Loads a CSV file and returns the result as a  :class:`DataFrame`.
 |
 |      This function will go through the input once to determine the input schema if
 |      ``inferSchema`` is enabled. To avoid going through the entire data once, disable
 |      ``inferSchema`` option or specify the schema explicitly using ``schema``.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Parameters
 |      ----------
 |      path : str or list
 |          string, or list of strings, for input path(s),
 |          or RDD of Strings storing CSV rows.
 |      schema : :class:`pyspark.sql.types.StructType` or str, optional
 |          an optional :class:`pyspark.sql.types.StructType` for the input schema
 |          or a DDL-formatted string (For example ``col0 INT, col1 DOUBLE``).
 |
 |      Other Parameters
 |      ----------------
 |      Extra options
 |          For the extra options, refer to
 |          `Data Source Option <https://spark.apache.org/docs/latest/sql-data-sources-csv.html#data-source-option>`_
 |          in the version you use.
 |
 |          .. # noqa
 |
 |      Examples
 |      --------
 |      >>> df = spark.read.csv('python/test_support/sql/ages.csv')
 |      >>> df.dtypes
 |      [('_c0', 'string'), ('_c1', 'string')]
 |      >>> rdd = sc.textFile('python/test_support/sql/ages.csv')
 |      >>> df2 = spark.read.csv(rdd)
 |      >>> df2.dtypes
 |      [('_c0', 'string'), ('_c1', 'string')]
 |
 |  format(self, source)
 |      Specifies the input data source format.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      source : str
 |          string, name of the data source, e.g. 'json', 'parquet'.
 |
 |      Examples
 |      --------
 |      >>> df = spark.read.format('json').load('python/test_support/sql/people.json')
 |      >>> df.dtypes
 |      [('age', 'bigint'), ('name', 'string')]
 |
 |  jdbc(self, url, table, column=None, lowerBound=None, upperBound=None, numPartitions=None, predicates=None, properties=None)
 |      Construct a :class:`DataFrame` representing the database table named ``table``
 |      accessible via JDBC URL ``url`` and connection ``properties``.
 |
 |      Partitions of the table will be retrieved in parallel if either ``column`` or
 |      ``predicates`` is specified. ``lowerBound``, ``upperBound`` and ``numPartitions``
 |      is needed when ``column`` is specified.
 |
 |      If both ``column`` and ``predicates`` are specified, ``column`` will be used.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      table : str
 |          the name of the table
 |      column : str, optional
 |          alias of ``partitionColumn`` option. Refer to ``partitionColumn`` in
 |          `Data Source Option <https://spark.apache.org/docs/latest/sql-data-sources-jdbc.html#data-source-option>`_
 |          in the version you use.
 |      predicates : list, optional
 |          a list of expressions suitable for inclusion in WHERE clauses;
 |          each one defines one partition of the :class:`DataFrame`
 |      properties : dict, optional
 |          a dictionary of JDBC database connection arguments. Normally at
 |          least properties "user" and "password" with their corresponding values.
 |          For example { 'user' : 'SYSTEM', 'password' : 'mypassword' }
 |
 |      Other Parameters
 |      ----------------
 |      Extra options
 |          For the extra options, refer to
 |          `Data Source Option <https://spark.apache.org/docs/latest/sql-data-sources-jdbc.html#data-source-option>`_
 |          in the version you use.
 |
 |          .. # noqa
 |
 |      Notes
 |      -----
 |      Don't create too many partitions in parallel on a large cluster;
 |      otherwise Spark might crash your external database systems.
 |
 |      Returns
 |      -------
 |      :class:`DataFrame`
 |
 |  json(self, path, schema=None, primitivesAsString=None, prefersDecimal=None, allowComments=None, allowUnquotedFieldNames=None, allowSingleQuotes=None, allowNumericLeadingZero=None, allowBackslashEscapingAnyCharacter=None, mode=None, columnNameOfCorruptRecord=None, dateFormat=None, timestampFormat=None, multiLine=None, allowUnquotedControlChars=None, lineSep=None, samplingRatio=None, dropFieldIfAllNull=None, encoding=None, locale=None, pathGlobFilter=None, recursiveFileLookup=None, allowNonNumericNumbers=None, modifiedBefore=None, modifiedAfter=None)
 |      Loads JSON files and returns the results as a :class:`DataFrame`.
 |
 |      `JSON Lines <http://jsonlines.org/>`_ (newline-delimited JSON) is supported by default.
 |      For JSON (one record per file), set the ``multiLine`` parameter to ``true``.
 |
 |      If the ``schema`` parameter is not specified, this function goes
 |      through the input once to determine the input schema.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      path : str, list or :class:`RDD`
 |          string represents path to the JSON dataset, or a list of paths,
 |          or RDD of Strings storing JSON objects.
 |      schema : :class:`pyspark.sql.types.StructType` or str, optional
 |          an optional :class:`pyspark.sql.types.StructType` for the input schema or
 |          a DDL-formatted string (For example ``col0 INT, col1 DOUBLE``).
 |
 |      Other Parameters
 |      ----------------
 |      Extra options
 |          For the extra options, refer to
 |          `Data Source Option <https://spark.apache.org/docs/latest/sql-data-sources-json.html#data-source-option>`_
 |          in the version you use.
 |
 |          .. # noqa
 |
 |      Examples
 |      --------
 |      >>> df1 = spark.read.json('python/test_support/sql/people.json')
 |      >>> df1.dtypes
 |      [('age', 'bigint'), ('name', 'string')]
 |      >>> rdd = sc.textFile('python/test_support/sql/people.json')
 |      >>> df2 = spark.read.json(rdd)
 |      >>> df2.dtypes
 |      [('age', 'bigint'), ('name', 'string')]
 |
 |  load(self, path=None, format=None, schema=None, **options)
 |      Loads data from a data source and returns it as a :class:`DataFrame`.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      path : str or list, optional
 |          optional string or a list of string for file-system backed data sources.
 |      format : str, optional
 |          optional string for format of the data source. Default to 'parquet'.
 |      schema : :class:`pyspark.sql.types.StructType` or str, optional
 |          optional :class:`pyspark.sql.types.StructType` for the input schema
 |          or a DDL-formatted string (For example ``col0 INT, col1 DOUBLE``).
 |      **options : dict
 |          all other string options
 |
 |      Examples
 |      --------
 |      >>> df = spark.read.format("parquet").load('python/test_support/sql/parquet_partitioned',
 |      ...     opt1=True, opt2=1, opt3='str')
 |      >>> df.dtypes
 |      [('name', 'string'), ('year', 'int'), ('month', 'int'), ('day', 'int')]
 |
 |      >>> df = spark.read.format('json').load(['python/test_support/sql/people.json',
 |      ...     'python/test_support/sql/people1.json'])
 |      >>> df.dtypes
 |      [('age', 'bigint'), ('aka', 'string'), ('name', 'string')]
 |
 |  option(self, key, value)
 |      Adds an input option for the underlying data source.
 |
 |      .. versionadded:: 1.5
 |
 |  options(self, **options)
 |      Adds input options for the underlying data source.
 |
 |      .. versionadded:: 1.4
 |
 |  orc(self, path, mergeSchema=None, pathGlobFilter=None, recursiveFileLookup=None, modifiedBefore=None, modifiedAfter=None)
 |      Loads ORC files, returning the result as a :class:`DataFrame`.
 |
 |      .. versionadded:: 1.5.0
 |
 |      Parameters
 |      ----------
 |      path : str or list
 |
 |      Other Parameters
 |      ----------------
 |      Extra options
 |          For the extra options, refer to
 |          `Data Source Option <https://spark.apache.org/docs/latest/sql-data-sources-orc.html#data-source-option>`_
 |          in the version you use.
 |
 |          .. # noqa
 |
 |      Examples
 |      --------
 |      >>> df = spark.read.orc('python/test_support/sql/orc_partitioned')
 |      >>> df.dtypes
 |      [('a', 'bigint'), ('b', 'int'), ('c', 'int')]
 |
 |  parquet(self, *paths, **options)
 |      Loads Parquet files, returning the result as a :class:`DataFrame`.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      paths : str
 |
 |      Other Parameters
 |      ----------------
 |      **options
 |          For the extra options, refer to
 |          `Data Source Option <https://spark.apache.org/docs/latest/sql-data-sources-parquet.html#data-source-option>`_
 |          in the version you use.
 |
 |          .. # noqa
 |
 |      Examples
 |      --------
 |      >>> df = spark.read.parquet('python/test_support/sql/parquet_partitioned')
 |      >>> df.dtypes
 |      [('name', 'string'), ('year', 'int'), ('month', 'int'), ('day', 'int')]
 |
 |  schema(self, schema)
 |      Specifies the input schema.
 |
 |      Some data sources (e.g. JSON) can infer the input schema automatically from data.
 |      By specifying the schema here, the underlying data source can skip the schema
 |      inference step, and thus speed up data loading.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      schema : :class:`pyspark.sql.types.StructType` or str
 |          a :class:`pyspark.sql.types.StructType` object or a DDL-formatted string
 |          (For example ``col0 INT, col1 DOUBLE``).
 |
 |      >>> s = spark.read.schema("col0 INT, col1 DOUBLE")
 |
 |  table(self, tableName)
 |      Returns the specified table as a :class:`DataFrame`.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      tableName : str
 |          string, name of the table.
 |
 |      Examples
 |      --------
 |      >>> df = spark.read.parquet('python/test_support/sql/parquet_partitioned')
 |      >>> df.createOrReplaceTempView('tmpTable')
 |      >>> spark.read.table('tmpTable').dtypes
 |      [('name', 'string'), ('year', 'int'), ('month', 'int'), ('day', 'int')]
 |
 |  text(self, paths, wholetext=False, lineSep=None, pathGlobFilter=None, recursiveFileLookup=None, modifiedBefore=None, modifiedAfter=None)
 |      Loads text files and returns a :class:`DataFrame` whose schema starts with a
 |      string column named "value", and followed by partitioned columns if there
 |      are any.
 |      The text files must be encoded as UTF-8.
 |
 |      By default, each line in the text file is a new row in the resulting DataFrame.
 |
 |      .. versionadded:: 1.6.0
 |
 |      Parameters
 |      ----------
 |      paths : str or list
 |          string, or list of strings, for input path(s).
 |
 |      Other Parameters
 |      ----------------
 |      Extra options
 |          For the extra options, refer to
 |          `Data Source Option <https://spark.apache.org/docs/latest/sql-data-sources-text.html#data-source-option>`_
 |          in the version you use.
 |
 |          .. # noqa
 |
 |      Examples
 |      --------
 |      >>> df = spark.read.text('python/test_support/sql/text-test.txt')
 |      >>> df.collect()
 |      [Row(value='hello'), Row(value='this')]
 |      >>> df = spark.read.text('python/test_support/sql/text-test.txt', wholetext=True)
 |      >>> df.collect()
 |      [Row(value='hello\nthis')]
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from OptionUtils:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [8]:
help(spark.read.csv)

Help on method csv in module pyspark.sql.readwriter:

csv(path, schema=None, sep=None, encoding=None, quote=None, escape=None, comment=None, header=None, inferSchema=None, ignoreLeadingWhiteSpace=None, ignoreTrailingWhiteSpace=None, nullValue=None, nanValue=None, positiveInf=None, negativeInf=None, dateFormat=None, timestampFormat=None, maxColumns=None, maxCharsPerColumn=None, maxMalformedLogPerPartition=None, mode=None, columnNameOfCorruptRecord=None, multiLine=None, charToEscapeQuoteEscaping=None, samplingRatio=None, enforceSchema=None, emptyValue=None, locale=None, lineSep=None, pathGlobFilter=None, recursiveFileLookup=None, modifiedBefore=None, modifiedAfter=None, unescapedQuoteHandling=None) method of pyspark.sql.readwriter.DataFrameReader instance
    Loads a CSV file and returns the result as a  :class:`DataFrame`.

    This function will go through the input once to determine the input schema if
    ``inferSchema`` is enabled. To avoid going through the entire data once, disable
    ``inferSchema`` option or specify the schema explicitly using ``schema``.

    .. versionadded:: 2.0.0

    Parameters
    ----------
    path : str or list
        string, or list of strings, for input path(s),
        or RDD of Strings storing CSV rows.
    schema : :class:`pyspark.sql.types.StructType` or str, optional
        an optional :class:`pyspark.sql.types.StructType` for the input schema
        or a DDL-formatted string (For example ``col0 INT, col1 DOUBLE``).

    Other Parameters
    ----------------
    Extra options
        For the extra options, refer to
        `Data Source Option <https://spark.apache.org/docs/latest/sql-data-sources-csv.html#data-source-option>`_
        in the version you use.

        .. # noqa

    Examples
    --------
    >>> df = spark.read.csv('python/test_support/sql/ages.csv')
    >>> df.dtypes
    [('_c0', 'string'), ('_c1', 'string')]
    >>> rdd = sc.textFile('python/test_support/sql/ages.csv')
    >>> df2 = spark.read.csv(rdd)
    >>> df2.dtypes
    [('_c0', 'string'), ('_c1', 'string')]

In [9]:
scores = spark.read.csv(scores_csv)

In [10]:
scores

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string, _c11: string]

In [11]:
help(scores.show)

Help on method show in module pyspark.sql.dataframe:

show(n=20, truncate=True, vertical=False) method of pyspark.sql.dataframe.DataFrame instance
    Prints the first ``n`` rows to the console.

    .. versionadded:: 1.3.0

    Parameters
    ----------
    n : int, optional
        Number of rows to show.
    truncate : bool or int, optional
        If set to ``True``, truncate strings longer than 20 chars by default.
        If set to a number greater than one, truncates long strings to length ``truncate``
        and align cells right.
    vertical : bool, optional
        If set to ``True``, print output rows vertically (one line
        per column value).

    Examples
    --------
    >>> df
    DataFrame[age: int, name: string]
    >>> df.show()
    +---+-----+
    |age| name|
    +---+-----+
    |  2|Alice|
    |  5|  Bob|
    +---+-----+
    >>> df.show(truncate=3)
    +---+----+
    |age|name|
    +---+----+
    |  2| Ali|
    |  5| Bob|
    +---+----+
    >>> df.show(vertical=True)
    -RECORD 0-----
     age  | 2
     name | Alice
    -RECORD 1-----
     age  | 5
     name | Bob

We can look at the head of the DataFrame calling the `show` method.

scores.show()

**Can anyone spot what's wrong with the above data?**

- Question marks
- Column names
- `Float` and `Int` in the same column

Let's check the schema of our DataFrame

In [12]:
help(scores.printSchema)

Help on method printSchema in module pyspark.sql.dataframe:

printSchema() method of pyspark.sql.dataframe.DataFrame instance
    Prints out the schema in the tree format.

    .. versionadded:: 1.3.0

    Examples
    --------
    >>> df.printSchema()
    root
     |-- age: integer (nullable = true)
     |-- name: string (nullable = true)
    <BLANKLINE>

In [13]:
scores.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)

**Why everythin is a `String`?**

### Managing Schema and Null Values

In [14]:
scores_df = (
    spark.read
        .option("header", "true")
        .option("nullValue", "?")
        .option("inferSchema", "true")
        .csv(scores_csv)
)

In [15]:
scores_df.printSchema()

root
 |-- id_1: integer (nullable = true)
 |-- id_2: integer (nullable = true)
 |-- cmp_fname_c1: double (nullable = true)
 |-- cmp_fname_c2: double (nullable = true)
 |-- cmp_lname_c1: double (nullable = true)
 |-- cmp_lname_c2: double (nullable = true)
 |-- cmp_sex: integer (nullable = true)
 |-- cmp_bd: integer (nullable = true)
 |-- cmp_bm: integer (nullable = true)
 |-- cmp_by: integer (nullable = true)
 |-- cmp_plz: integer (nullable = true)
 |-- is_match: boolean (nullable = true)

In [16]:
scores_df.show(5)

+-----+-----+-----------------+------------+------------+------------+-------+------+------+------+-------+--------+
| id_1| id_2|     cmp_fname_c1|cmp_fname_c2|cmp_lname_c1|cmp_lname_c2|cmp_sex|cmp_bd|cmp_bm|cmp_by|cmp_plz|is_match|
+-----+-----+-----------------+------------+------------+------------+-------+------+------+------+-------+--------+
|37291|53113|0.833333333333333|        null|         1.0|        null|      1|     1|     1|     1|      0|    true|
|39086|47614|              1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|70031|70237|              1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|84795|97439|              1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|36950|42116|              1.0|        null|         1.0|         1.0|      1|     1|     1|     1|      1|    true|
+-----+-----+-----------------+------------+------------+------------+-------+------+------+------+-------+--------+
only showing top 5 rows

## Transformations and Actions

Creating a DataFrame does not cause any distributed computation in the cluster. **A DataFrame is un data set representing an intermediate step in a computation**.

For operatring data (in a distributed manner), we have two type of operations: **transformations** and **actions**:

- Transformations: lazy evaluation. They're not computed immediately, but they are recorded as a **lineage** for query play optimization.
- Actions: distributed computation occurs after invoking an action

In [17]:
# how many?
scores_df.count()

574913

We can use the `collect` action to return `Array` with all the `Row` objects in our DataFrame.

In [18]:
scores_df.collect()

[Row(id_1=37291, id_2=53113, cmp_fname_c1=0.833333333333333, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=0, is_match=True),
 Row(id_1=39086, id_2=47614, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=70031, id_2=70237, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=84795, id_2=97439, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=36950, id_2=42116, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=1.0, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=42413, id_2=48491, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=25965, id_2=64753, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=49451, id_2=90407, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=0, is_match=True),
 Row(id_1=39932, id_2=40902, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=46626, id_2=47940, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=48948, id_2=98379, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=4767, id_2=4826, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=45463, id_2=69659, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=11367, id_2=13169, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=10782, id_2=89636, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=0, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=26206, id_2=39147, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=16662, id_2=27083, cmp_fname_c1=1.0, cmp_fname_c2=1.0, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=18823, id_2=30204, cmp_fname_c1=1.0, cmp_fname_c2=1.0, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=38545, id_2=85418, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=28963, id_2=39172, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=38918, id_2=44578, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=23499, id_2=40452, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=46469, id_2=94155, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=25816, id_2=29809, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=28777, id_2=39482, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=18914, id_2=18916, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=15105, id_2=16971, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=75313, id_2=76006, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=29624, id_2=90371, cmp_fname_c1=1.0, cmp_fname_c2=1.0, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=30127, id_2=30732, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=3791, id_2=61656, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=89734, id_2=89736, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=42161, id_2=44157, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=94601, id_2=94602, cmp_fname_c1=1.0, cmp_fname_c2=1.0, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=14532, id_2=75581, cmp_fname_c1=0.888888888888889, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=0, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=None, is_match=True),
 Row(id_1=34195, id_2=35649, cmp_fname_c1=1.0, cmp_fname_c2=1.0, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=13862, id_2=99105, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=68990, id_2=68991, cmp_fname_c1=1.0, cmp_fname_c2=1.0, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=36430, id_2=47306, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=20417, id_2=87185, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=27458, id_2=33456, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=53806, id_2=57851, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=30216, id_2=69283, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=0, is_match=True),
 Row(id_1=7275, id_2=8294, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=15821, id_2=16913, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=31625, id_2=38784, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=17146, id_2=40456, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=90142, id_2=90144, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=16615, id_2=29839, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=16628, id_2=22975, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=13297, id_2=84993, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=44473, id_2=44474, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=26756, id_2=61838, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=60032, id_2=65967, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=84808, id_2=84810, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=19845, id_2=41058, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=5947, id_2=72075, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=18313, id_2=24363, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=17676, id_2=44054, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=10784, id_2=14152, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=10996, id_2=72815, cmp_fname_c1=0.25, cmp_fname_c2=None, cmp_lname_c1=0.25, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=43920, id_2=72193, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=28464, id_2=69899, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=25306, id_2=28302, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=13260, id_2=34548, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=83862, id_2=85842, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=19563, id_2=30319, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=41967, id_2=83896, cmp_fname_c1=0.875, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=1763, id_2=64724, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=38604, id_2=44034, cmp_fname_c1=1.0, cmp_fname_c2=1.0, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=43214, id_2=48853, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=48021, id_2=95459, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=3751, id_2=3752, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=11585, id_2=11972, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=1857, id_2=1884, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=38118, id_2=59788, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=17431, id_2=20446, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=33395, id_2=49625, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=27885, id_2=32872, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=29875, id_2=42368, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=23243, id_2=76268, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=48837, id_2=63106, cmp_fname_c1=1.0, cmp_fname_c2=1.0, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=35400, id_2=43913, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=2702, id_2=5962, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=0, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=35709, id_2=43859, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=1.0, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=9885, id_2=86926, cmp_fname_c1=1.0, cmp_fname_c2=1.0, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=4375, id_2=61891, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=35701, id_2=84881, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=27907, id_2=41092, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=48106, id_2=72933, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=0, cmp_bm=0, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=34697, id_2=41334, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=76874, id_2=79017, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=35670, id_2=48804, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=69439, id_2=69448, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=45793, id_2=94527, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=31899, id_2=37198, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=46074, id_2=58332, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=96438, id_2=96451, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=17247, id_2=26452, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=17690, id_2=22832, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=36098, id_2=52230, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=0, is_match=True),
 Row(id_1=21325, id_2=59892, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=42976, id_2=66077, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=0, is_match=True),
 Row(id_1=5237, id_2=70862, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=16472, id_2=64283, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=26353, id_2=48169, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=44394, id_2=88861, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=41154, id_2=54204, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=25738, id_2=34891, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=30066, id_2=31819, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=40080, id_2=93119, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=30242, id_2=41430, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=14820, id_2=41337, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=29446, id_2=43844, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=1806, id_2=1841, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=49842, id_2=49901, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),

**The `Array` will reside in local memory!!**

## Write to Disk

We are going to save the DataFrame into a different format: Parquet

In [19]:
scores_df.write.format("parquet").save("data/scores-parquet")

In [20]:
! ls data/scores-parquet

_SUCCESS  part-00000-72cfc7af-ce20-4fad-b762-4940f156cafe-c000.snappy.parquet

In [21]:
scores_parquet = spark.read.parquet("data/scores-parquet")

In [22]:
scores_parquet.printSchema()

root
 |-- id_1: integer (nullable = true)
 |-- id_2: integer (nullable = true)
 |-- cmp_fname_c1: double (nullable = true)
 |-- cmp_fname_c2: double (nullable = true)
 |-- cmp_lname_c1: double (nullable = true)
 |-- cmp_lname_c2: double (nullable = true)
 |-- cmp_sex: integer (nullable = true)
 |-- cmp_bd: integer (nullable = true)
 |-- cmp_bm: integer (nullable = true)
 |-- cmp_by: integer (nullable = true)
 |-- cmp_plz: integer (nullable = true)
 |-- is_match: boolean (nullable = true)

In [23]:
scores_parquet.show(5)

+-----+-----+-----------------+------------+------------+------------+-------+------+------+------+-------+--------+
| id_1| id_2|     cmp_fname_c1|cmp_fname_c2|cmp_lname_c1|cmp_lname_c2|cmp_sex|cmp_bd|cmp_bm|cmp_by|cmp_plz|is_match|
+-----+-----+-----------------+------------+------------+------------+-------+------+------+------+-------+--------+
|37291|53113|0.833333333333333|        null|         1.0|        null|      1|     1|     1|     1|      0|    true|
|39086|47614|              1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|70031|70237|              1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|84795|97439|              1.0|        null|         1.0|        null|      1|     1|     1|     1|      1|    true|
|36950|42116|              1.0|        null|         1.0|         1.0|      1|     1|     1|     1|      1|    true|
+-----+-----+-----------------+------------+------------+------------+-------+------+------+------+-------+--------+
only showing top 5 rows

## Analyzing Data

All good for now, but we don't load data for the sake of i, we do it because we want to run some analysis.

- First two column are Integer IDs. There represent the patients that were matched in the record.
- The next nine column are numeric values (int and double). They represnt match scores on different fields, such name, sex, birthday, and locations.
- The last column is a boolean value indicating whether or not the pair of patient records represented by the line was a match.

**We could use this dataset to build a simple classifier that allows us to predict whether a record will be a match based on the values of the match scores for patient records.**

### Caching

Each time we process data (e.g., calling the `collect` method), Spark re-opens the file, parsea the rows, and then execute the requested action. It does not matter if we have filtered the data and created a smaller set of record.

We can use the `cache` method to indicate to store the DataFrame in memory.

In [24]:
help(scores_df.cache)

Help on method cache in module pyspark.sql.dataframe:

cache() method of pyspark.sql.dataframe.DataFrame instance
    Persists the :class:`DataFrame` with the default storage level (`MEMORY_AND_DISK`).

    .. versionadded:: 1.3.0

    Notes
    -----
    The default storage level has changed to `MEMORY_AND_DISK` to match Scala in 2.0.

**Spark is in-memory only. Myth or misconception?**

"Spill"
Storage levels:
- `MEMORY_AND_DISK`
- `MEMORY`
- `MEMORY_SER`

In [25]:
scores_cached = scores_df.cache()

In [26]:
scores_cached.count()

574913

In [27]:
scores_cached.take(10)

[Row(id_1=37291, id_2=53113, cmp_fname_c1=0.833333333333333, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=0, is_match=True),
 Row(id_1=39086, id_2=47614, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=70031, id_2=70237, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=84795, id_2=97439, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=36950, id_2=42116, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=1.0, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=42413, id_2=48491, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=25965, id_2=64753, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=49451, id_2=90407, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=0, is_match=True),
 Row(id_1=39932, id_2=40902, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True),
 Row(id_1=46626, id_2=47940, cmp_fname_c1=1.0, cmp_fname_c2=None, cmp_lname_c1=1.0, cmp_lname_c2=None, cmp_sex=1, cmp_bd=1, cmp_bm=1, cmp_by=1, cmp_plz=1, is_match=True)]

### Query Plan

In [28]:
scores_cached.explain()

== Physical Plan ==
FileScan csv [id_1#56,id_2#57,cmp_fname_c1#58,cmp_fname_c2#59,cmp_lname_c1#60,cmp_lname_c2#61,cmp_sex#62,cmp_bd#63,cmp_bm#64,cmp_by#65,cmp_plz#66,is_match#67] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/home/runner/work/bda-course/bda-course/coursebook/modules/m2/dat..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<id_1:int,id_2:int,cmp_fname_c1:double,cmp_fname_c2:double,cmp_lname_c1:double,cmp_lname_c2...

### GroupBy + OrderBy

In [29]:
from pyspark.sql.functions import col

scores_cached.groupBy("is_match").count().orderBy(col("count").desc()).show()

+--------+------+
|is_match| count|
+--------+------+
|   false|572820|
|    true|  2093|
+--------+------+

## Aggregation Functions

In addition to `count`, we can also compute more complex aggregation like sums, mins, maxes, means, and standard deviation. How? we use `agg` method of the DataFrame API.

In [30]:
from pyspark.sql.functions import avg, stddev

In [31]:
aggregated = scores_cached.agg(avg("cmp_sex"), stddev("cmp_sex"))

In [32]:
aggregated.explain()

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- HashAggregate(keys=[], functions=[avg(cmp_sex#62), stddev_samp(cast(cmp_sex#62 as double))])
   +- Exchange SinglePartition, ENSURE_REQUIREMENTS, [id=#220]
      +- HashAggregate(keys=[], functions=[partial_avg(cmp_sex#62), partial_stddev_samp(cast(cmp_sex#62 as double))])
         +- InMemoryTableScan [cmp_sex#62]
               +- InMemoryRelation [id_1#56, id_2#57, cmp_fname_c1#58, cmp_fname_c2#59, cmp_lname_c1#60, cmp_lname_c2#61, cmp_sex#62, cmp_bd#63, cmp_bm#64, cmp_by#65, cmp_plz#66, is_match#67], StorageLevel(disk, memory, deserialized, 1 replicas)
                     +- FileScan csv [id_1#56,id_2#57,cmp_fname_c1#58,cmp_fname_c2#59,cmp_lname_c1#60,cmp_lname_c2#61,cmp_sex#62,cmp_bd#63,cmp_bm#64,cmp_by#65,cmp_plz#66,is_match#67] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/home/runner/work/bda-course/bda-course/coursebook/modules/m2/dat..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<id_1:int,id_2:int,cmp_fname_c1:double,cmp_fname_c2:double,cmp_lname_c1:double,cmp_lname_c2...

In [33]:
aggregated.show()

+------------------+--------------------+
|      avg(cmp_sex)|stddev_samp(cmp_sex)|
+------------------+--------------------+
|0.9550923357099248| 0.20710152240504734|
+------------------+--------------------+

## SQL

ANSI 2003-compliant version or HiveQL.

In [34]:
scores_df.createOrReplaceTempView("scores")

In [35]:
# scores_cached.groupBy("is_match").count().orderBy(col("count").desc()).show()
spark.sql("""
    SELECT is_match, COUNT(*) cnt
    FROM scores
    GROUP BY is_match
    ORDER BY cnt DESC
""").show()

+--------+------+
|is_match|   cnt|
+--------+------+
|   false|572820|
|    true|  2093|
+--------+------+

In [36]:
spark.sql("""
    SELECT is_match, COUNT(*) cnt
    FROM scores
    GROUP BY is_match
    ORDER BY cnt DESC
""").explain()

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Sort [cnt#2165L DESC NULLS LAST], true, 0
   +- Exchange rangepartitioning(cnt#2165L DESC NULLS LAST, 200), ENSURE_REQUIREMENTS, [id=#330]
      +- HashAggregate(keys=[is_match#67], functions=[count(1)])
         +- Exchange hashpartitioning(is_match#67, 200), ENSURE_REQUIREMENTS, [id=#327]
            +- HashAggregate(keys=[is_match#67], functions=[partial_count(1)])
               +- InMemoryTableScan [is_match#67]
                     +- InMemoryRelation [id_1#56, id_2#57, cmp_fname_c1#58, cmp_fname_c2#59, cmp_lname_c1#60, cmp_lname_c2#61, cmp_sex#62, cmp_bd#63, cmp_bm#64, cmp_by#65, cmp_plz#66, is_match#67], StorageLevel(disk, memory, deserialized, 1 replicas)
                           +- FileScan csv [id_1#56,id_2#57,cmp_fname_c1#58,cmp_fname_c2#59,cmp_lname_c1#60,cmp_lname_c2#61,cmp_sex#62,cmp_bd#63,cmp_bm#64,cmp_by#65,cmp_plz#66,is_match#67] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/home/runner/work/bda-course/bda-course/coursebook/modules/m2/dat..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<id_1:int,id_2:int,cmp_fname_c1:double,cmp_fname_c2:double,cmp_lname_c1:double,cmp_lname_c2...

In [37]:
scores_cached.groupBy("is_match").count().orderBy(col("count").desc()).explain()

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Sort [count#2364L DESC NULLS LAST], true, 0
   +- Exchange rangepartitioning(count#2364L DESC NULLS LAST, 200), ENSURE_REQUIREMENTS, [id=#350]
      +- HashAggregate(keys=[is_match#67], functions=[count(1)])
         +- Exchange hashpartitioning(is_match#67, 200), ENSURE_REQUIREMENTS, [id=#347]
            +- HashAggregate(keys=[is_match#67], functions=[partial_count(1)])
               +- InMemoryTableScan [is_match#67]
                     +- InMemoryRelation [id_1#56, id_2#57, cmp_fname_c1#58, cmp_fname_c2#59, cmp_lname_c1#60, cmp_lname_c2#61, cmp_sex#62, cmp_bd#63, cmp_bm#64, cmp_by#65, cmp_plz#66, is_match#67], StorageLevel(disk, memory, deserialized, 1 replicas)
                           +- FileScan csv [id_1#56,id_2#57,cmp_fname_c1#58,cmp_fname_c2#59,cmp_lname_c1#60,cmp_lname_c2#61,cmp_sex#62,cmp_bd#63,cmp_bm#64,cmp_by#65,cmp_plz#66,is_match#67] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/home/runner/work/bda-course/bda-course/coursebook/modules/m2/dat..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<id_1:int,id_2:int,cmp_fname_c1:double,cmp_fname_c2:double,cmp_lname_c1:double,cmp_lname_c2...

### Should I use Spark SQL or the DataFrame API

Depends on the query.

## Pandas is my friend!

required packages: `pandas` and `numpy`
- poetry add pandas numpy
- pip install pandas numpy

In [38]:
scores_pandas = scores_df.toPandas()

In [39]:
scores_pandas.head()

,id_1,id_2,cmp_fname_c1,cmp_fname_c2,cmp_lname_c1,cmp_lname_c2,cmp_sex,cmp_bd,cmp_bm,cmp_by,cmp_plz,is_match
0,37291,53113,0.833333,NaN,1.0,NaN,1,1.0,1.0,1.0,0.0,True
1,39086,47614,1.000000,NaN,1.0,NaN,1,1.0,1.0,1.0,1.0,True
2,70031,70237,1.000000,NaN,1.0,NaN,1,1.0,1.0,1.0,1.0,True
3,84795,97439,1.000000,NaN,1.0,NaN,1,1.0,1.0,1.0,1.0,True
4,36950,42116,1.000000,NaN,1.0,1.0,1,1.0,1.0,1.0,1.0,True

In [40]:
scores_pandas.shape

(574913, 12)

## References

```{bibliography}
:style: unsrt
:filter: docname in docnames
```